body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:  #fff;
}
img {display: block;}

ul, ol {list-style-type: none;
margin: 0;
padding: 0;}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {text-decoration: none;}

/* common */

.container {
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* header */

.page-header {
    border-bottom: 1px solid #e7e9fc;
}

.header-container {
    display: flex;
    align-items: center;
}

.header-nav {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
align-items: center;
gap: 40px;}

.logo {
        color: #4d5ae5;
        font-size: 18px;
        font-style: normal;
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        letter-spacing: 0.03em;
        line-height: 1.17;
        text-transform: uppercase;
}

.header-logo {margin-right: 76px;
padding: 24px; 0px;}

.header-logo .logo-part {
    color: #2e2f42;}

.footer-logo {margin-bottom: 16px;
display: inline-block;}    
.footer-logo .logo-part {color: #f4f4fd;
display: inline-block;}

.nav-link {
    padding: 24px 0;
    display: block;
    color: #2e2f42;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-transform: none;
}

.contacts {font-style: normal;
margin-left: auto;}

.contacts-list {
    display: flex;
    align-items: center;
     gap: 40px;
}

.contacts-link {
    color: #434455;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    letter-spacing: 0.02em;
    display: block;
    padding: 24px 0;
}
.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {color: #404bbf;}

.page-footer {background-color: #2e2f42;
padding-top: 100px;
padding-bottom: 100px;}

/* sections */

.section {background-color: #2e2f42;
padding: 188px 0;
}
.h-main {
    color: #fff;
    font-size: 56px;
    text-align: center;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
}

.button { 
    background-color: #4d5ae5;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    cursor: pointer;
display: block;
min-width: 169px;
height: 56px;
border: none;
border-radius: 4px;
}
    

    .button:hover,
    .button:focus {background-color: #404bbf;}

.h_section {
background-color: #FFFFFF;
color: #2e2f42;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
display: block;
padding: 120px 0;
margin-bottom: 8px;
width: calc((100% - 72px)/4);
border-radius: 0px 0px 4px 4px;
text-align: center;
}

.li-div {
    padding: 32px 0;
}

  .text {
    color: #434455;
    font-size: 16px;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

 .section-two {
    padding: 120px 0;

 }
  
.section-three {background-color: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.h-two {color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
text-align: center;
text-transform: capitalize;
margin-bottom: 72px;
}

visually-hidden {
    position: fixed;
    transform: scale(0);
}

.section_list {background-color: #FFFFFF;
display: flex;
gap: 24px;}

.section-two-list {
    display: flex;
    gap: 24px; 
}

.section-item {
    width: calc((100% - 72px) / 4);
}

.section-four {
    padding: 120px 0 120px 0;
}

.section-four-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.section-four-li {
    width: calc((100% - 48px)/3);
}

.div-four-li {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    margin-bottom: 8px;
}

.footer-text {
    color: #f4f4fd;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;}